export_tf_vars
.terraform/
terraform.tfvars.old
*.tfstate
*.tfstate.backup
*.backup
terafform.tfvars.old
modules/aks/variables.tf
terraform.tfstate.*.backup
.terraform.lock.hcl
.terraform*
certs/*
..bfg-report/*
.env.*
.env*
terraform.tfvars
backend.tfvars
_images.tgz
_images/
*backend.tfvars